{% extends '../../utils/base.html' %}

{% block title %}
    Browse all GreenDeal Documents
{% endblock %}

{% block navbar_inject %}
    <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Go to Document
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        {% for document in documents %}
            <li><a class="dropdown-item" href="{% url 'document_details' id=document.id %}">{{ document.eu_id }}</a></li>
              {% endfor %}
          </ul>
        </li>
{% endblock %}

{% block main %}
    <main style="height: 90vh">
        <div class="container border border-dark bg-light rounded mt-2">
            <h2>Browse GreenDeal Documents</h2>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">CELEX (COM if no CELEX)</th>
                    <th scope="col">Title</th>
                    <th scope="col">Scope</th>
                    <th scope="col">Publish Date</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for document in documents %}
                    <tr>
                        <th scope="row">{{ document.eu_id }}</th>
                        <td>{{ document.title }}</td>
                        <td>{{ document.scope }}</td>
                        <td>{{ document.publish_date }}</td>
                        <td>
                            <a href="{% url 'document_details' id=document.id %}" class="btn btn-primary">
                                Open document in exploration view
                            </a>
                            <a href="{{ document.url }}" class="btn btn-warning">
                                Go to original document
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}