{% extends '../../utils/base.html' %}

{% block title %}
    GreenDeal Document {{ document.document }}
{% endblock %}

{% block main %}
    <main style="height: 90vh">
        <div class="container border border-dark">
            <div class="row border border-dark">
                <div class="col-4 border border-dark">
                    <div class="row border border-dark">
                        <h2>Document Meta-Data</h2>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Meta</th>
                                <th scope="col">Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">Local-Id</th>
                                <td>{{ document.id }}</td>
                            </tr>
                            <tr>
                                <th scope="row">CELEX / COM ID</th>
                                <td>{{ document.eu_id }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Title</th>
                                <td>{{ document.title }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Subtitle</th>
                                <td>{{ document.subtitle }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Scope</th>
                                <td>{{ document.scope }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Original URL</th>
                                <td>{{ document.url }}</td>
                            </tr>
                            <tr>
                                <th scope="row">File type used</th>
                                <td>{{ document.file_type }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Date published</th>
                                <td>{{ document.publish_date }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row border border-dark">
                        {# TODO: talk to table extraction group #}
                    </div>
                    <div class="row border border-dark">
                        <h2>External Links in Document</h2>

                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Item</th>
                                <th scope="col">Go to</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for href, title in all_links.items %}
                                <tr>
                                    <td>{{ title }}</td>
                                    <td><a href="{{ href }}" class="btn btn-primary">Link</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="col border border-dark">
                    <h2>Document Contents</h2>
                    {{ document.html_content | safe }}
                </div>
            </div>
        </div>
    </main>
{% endblock %}