<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Annotations to easily explore offical european green deal documents."/>
    <link rel="canonical" href="https://127.0.0.1:8000/" /> {# TODO: correct link once website is online #}
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    {% block head_inject %}
    {% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="z-index: 10">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">GreenDealAnnotations</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'all_documents' %}">All Documents</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{% url 'timeline' %}">Timeline</a>
        </li>
          {% block navbar_inject %}
          {% endblock %}
      </ul>
    </div>
  </div>
</nav>

{% block main %}
{% endblock %}
</body>
{% block footer_script %}
{% endblock %}
</html>
