body {
    background-color: #c2d651c7;
    font-family: sans-serif !important;
    overflow-x: hidden;
}
/* Old stylessheet from timeline group */
/* body {
    background: linear-gradient(45deg, #4e8a53d5, #c2d651c7);
    font-family: sans-serif !important;
    overflow-x: hidden;
} */