<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Green Deal Annotation - Document Classification</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<style>
    .document-classification-td {
        max-width: 250px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .document-classification-td:hover {
        max-width: 500px;
        background-color: yellowgreen;
        overflow: visible;
        white-space: normal;
        height: auto;
    }
</style>
<body>
<div style="overflow:auto; width: 100%;">
    <table>
        <tr>
            <th class="document-classification-td">Header</th>
            <th class="document-classification-td">Header2</th>
            <th class="document-classification-td">Body</th>
            <th class="document-classification-td">Doctype</th>
            <th class="document-classification-td">Titreobject</th>
            <th class="document-classification-td">Comnumber</th>
            <th class="document-classification-td">Structure</th>
            <th class="document-classification-td">Deskriptor</th>
            <th class="document-classification-td">Cleanbody</th>
            <th class="document-classification-td">WeightedSimilarities</th>
        </tr>
        {% for col in model %}
            <tr>
                <td class="document-classification-td">{{ col.header }}</td>
                <td class="document-classification-td">{{ col.header2 }}</td>
                <td class="document-classification-td">{{ col.body }}</td>
                <td class="document-classification-td">{{ col.doctype }}</td>
                <td class="document-classification-td">{{ col.comnumber }}</td>
                <td class="document-classification-td">{{ col.structure }}</td>
                <td class="document-classification-td">{{ col.deskriptor }}</td>
                <td class="document-classification-td">{{ col.cleanbody }}</td>
                <td class="document-classification-td">{{ col.weightedsimilarities }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>