<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Green Deal Annotation - Timeline</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'style.css'%}">
  <script src="{% static 'vanillaSelectBox.js' %}"></script>
  <script>

    // Code wird beim Laden der Seite ausgeführt
    // Legt Dropdown Werte feste
    window.onload=function(){ 
        if ("{{ length_docs }}" != "{{ length_filter_docs }}"){
            vanilla_doc_name.setValue({{ doc_name|safe }});
        }

        vanilla_start_doc_date.setValue("{{ start_year }}");
        vanilla_end_doc_date.setValue("{{ end_year }}");
    };

  </script>

</head>

<body>

    <div class="container">
        <div class="wrapper">
            <section id="top">
            <h1> Green Deal Annotation </h1>
            <h2>Timeline</h2>
            
            <!--------------------------------------EINLEITUNG---------------------------------------->

            <p class="introduction">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor 
                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam 
                et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est 
                At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata 
                sanctus est Lorem ipsum dolor sit amet. 
                <br><br>      
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor 
                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. <br> 
                At vero eos et accusam 
                et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est 
                At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata 
                sanctus est Lorem ipsum dolor sit amet. 
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor 
                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam 
                et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est 
                At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata 
                sanctus est Lorem ipsum dolor sit amet. 
                <br><br>      
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor 
                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. <br> 
                At vero eos et accusam 
                et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est 
                At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata 
                sanctus est Lorem ipsum dolor sit amet. 
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor 
                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam 
                et justo duo dolores et ea rebum. 
            </p>
            </section>
            <div class="row">
                
                <!-----------------------------------FILTER-PANEL------------------------------------------->

                <div id="Filter" class="col-md-4 fixed-sidebar">
                    <div id="number_entries"></div>
                    <!--  hier werden die Container für die einzelnen Filterparts aufgesetzt 
                    und die select-Optionen mit den möglichen Optionen aus der Datenbank befüllt -->
                    <p class="filter_parts">
                        <label for="doc_name">Document Name</label>
                        <br>
                        <select onchange="get_dropdown_value()" multiple="" id="doc_name" size="2">
                            {% for doc in doc_names_filter %}
                                <option value="{{ doc }}"> "{{ doc }}" </option>
                            {% endfor %}
                        </select>
                    </p>
                    
                     <p class="filter_parts">
                        <label for="start_date">Start Year</label>
                        <br>
                        <select onchange="get_dropdown_value()"  id="start_date" size="2" >
                            {% for year in year_filter %}
                                <option value="{{ year|slice:':4' }}"> {{ year|slice:":4" }} </option>
                            {% endfor %}
                        </select>
                    </p>

                    <p class="filter_parts">
                        <label for="end_date">End Year</label>
                        <br>
                        <select onchange="get_dropdown_value()"  id="end_date" size="2" >
                            {% for year in year_filter %}
                                <option value="{{ year|slice:':4' }}"> {{ year|slice:":4" }} </option>
                            {% endfor %}
                        </select>
                    </p>

                    <div id="submit_filter" onclick="filter_url()"> Submit </div>
                                        
                    <div id="reset" onclick="reset()"> Reset </div>

                </div>

                <!-----------------------------------TIMELINE------------------------------------------->
                
                <div class="col-md-8">

                    <div id="timeline">
                    
                        <ul id="dates">
                        <!-- unsere komplette Timeline wird durch dieses Jinja Template erstellt;
                        dafür werden alle Einträge in der Datenbank durchlaufen -->
                            {% for col in data %}

                                <li>
                                    <span class="date"> {{ col.isodate }} </span>
                                    <p class="sentence"> {{ col.docsentence }} </p>
                                </li>
                                                                
                            {% endfor %}   
                                        
                        </ul>
                        
                    </div>

                </div>

            </div>

        </div>

    </div>

</body>

<script>

/**********************************DROPDOWNS******************************************/

    // Die Dropdowns werden hier definiert und das Aussehen dieser festgelegt
    vanilla_doc_name = new vanillaSelectBox("#doc_name",
        {
        "maxOptionWidth":370, 
        "maxHeight": 200,
        "minWidth": 280,
        translations: { "all": "All", "items": "selected" },
        "placeHolder": "Select..." }
        );


    vanilla_start_doc_date = new vanillaSelectBox("#start_date",
        {
            "maxOptionWidth":250, 
            "maxHeight": 200,
            "minWidth": 280,
            // "search": true,
            translations: { "all": "All", "items": "selected" },
            "placeHolder": "Select..." }
        );

        vanilla_end_doc_date = new vanillaSelectBox("#end_date",
        {
            "maxOptionWidth":250, 
            "maxHeight": 200,
            "minWidth": 280,
            // "search": true,
            translations: { "all": "All", "items": "selected" },
            "placeHolder": "Select..." }
        );
       
/********************************FILTERUNG*UND*WEITERLEITUNG***************************************/

    // Anzahl der Einträge
    document.getElementById("number_entries").textContent=("{{ data|length }}");

    // Zieht sich die ausgewählten Werte im Dropdown und schreibt sie in ein dictionary
    var filter_values = {};

    function get_dropdown_value() {

        filter_values["doc_name"] = Array.from(document.querySelectorAll('#doc_name option:checked')).map(el => el.value);
        filter_values["start_date"] = document.getElementById('start_date').value;
        filter_values["end_date"] = document.getElementById('end_date').value;
    }

    // Encoded die ausgewählten Filterwerte (dict) in einen str, baut eine URL 
    // in der der str als Query mitgegeben wird und leitet den User auf die Seite (View) weiter
    function filter_url(){

        var str = [];
        for(var p in filter_values){
           str.push(encodeURIComponent(p) + "=" + encodeURIComponent(filter_values[p]));
        }

        str = "?" + str.join("&") + "#timeline";
        window.location = str;

    }
        
    // Reset Button, löscht die ausgewählten Filter und die Werte aus dem Dictionary,
    // leitet anschließend auf die Seite (View) mit den ungefilterten Daten
    function reset(){ 
        vanilla_doc_name.empty();
        vanilla_start_doc_date.empty();
        vanilla_end_doc_date.empty();
        window.location = "?doc_name=&start_date=&end_date=#timeline"
    }

       
</script>